<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.safacgsoca3app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SAFACGSOCA3App">
        <activity
            android:name=".ViewLoadoutActivity"
            android:exported="false" />
        <activity
            android:name=".ViewOperationActivity"
            android:exported="false" />
        <activity
            android:name=".AddExerciseActivity"
            android:exported="false" />
        <activity
            android:name=".AmmunitionActivity"
            android:exported="false" />
        <activity
            android:name=".NominalRollActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>
        <activity
            android:name=".DeclareIssueInfoActivity"
            android:exported="false" />
        <activity
            android:name="com.example.safacgsoca3app.PersonnelChecklistActivity"
            android:exported="false" />
        <activity
            android:name="com.example.safacgsoca3app.DisplayPersonnelInfoActivity"
            android:exported="false" />
        <activity
            android:name="com.example.safacgsoca3app.DisplayPersonnelActivity"
            android:exported="true">
        </activity>
    </application>

</manifest>